.doughnutChart01 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #adadad;
}
.doughnutChart01_chartStyle {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}